* {
    color: white;
    box-sizing: border-box;
}
body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}
.gameDivision,
.chatDivision,
.utilDivision {
    border: 1px solid white;
    text-align: center;
    height: 100vh;
}
.chatDivision,
.utilDivision {
    flex: 1 1 10dvw;
}
.gameDivision {
    flex: 0 2.5 55dvw;
    display: flex;
    flex-direction: column;
}
.gameDivision .topBar,
.gameDivision .midBar,
.gameDivision .botBar {
    border: 1px solid white;
}
.gameDivision .topBar{
    flex: 2 1 auto;
}
.gameDivision .midBar{
    flex: 90 1 10dvh;
    display: flex;
    flex-direction: column;
}
/* .gameDivision .botBar{
    flex: 10 1 auto;
} */
.NPCBar {
    border: 1px solid white;
    flex: 1 1 auto;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.PCBar {
    border: 1px solid white;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.NPC {
    padding: 2px;
    border: 1px solid white;
    width: 125px;
    height: 125px;
}
.PC {
    padding: 2px;
    border: 1px solid white;
    width: 125px;
    height: 125px;
}
.ability {
    border: 1px solid white;
    /* flex: 1 1 auto; */
    height: 3dvw;
    width: 3dvw;
}
.utilDivisionAbility {
    border: 1px solid white;
    /* flex: 1 1 auto; */
    height: 3dvw;
    width: 3dvw;
}
.abilityListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.slideLeft,
.slideRight {
    border: 1px solid white;
    flex: .025 1 auto;
}
.botBar {
    display: flex;
    justify-content: space-evenly;
}
.utilDivision {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.endTurnButton {
    border: 1px solid white;
    flex: .09 1 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topBar {
    display: flex;
    justify-content: space-betweens;
}
.topBar div {
    flex: 1 1 auto;
}
.PCBarRow1, 
.PCBarRow2, 
.PCBarRow3,
.NPCBarRow1,
.NPCBarRow2,
.NPCBarRow3
 {
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 100%;
    flex: 1 1 auto;
    border: 1px solid white;
}
.divider {
    padding: 15px;
}
.chatDivision {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.moveRowButtons {
    border: 1px solid white;
    flex: .09 1 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moveRowButtons div{
    border: 1px solid white;
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.utilDivisionTabs {
    display: flex;
    justify-content: space-around;
}
.utilDivisionTabs * {
    flex: 1 1 auto;
    border: 2px solid white;
}
.utilDivisionDisplay {
    height: 100%;
    padding: 10px 0px;
}
.inventoryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.inventoryContainer div { 
    border: 1px solid white;
    flex: 0 1 auto;
    height: 2.7dvw;
    width: 2.7dvw;
}
div.tooltip {
    flex-direction: column;
    background-color: black;
    width: 20dvw;
    height: max-content;
    padding: 10px;
    border: 1px solid white;
    position: relative;
    right: 20dvw;
    bottom: fit-content;
    display: flex;
}
div.tooltipContent {
    width: auto;
    height: auto;
    border: none;
    color: white;
    text-align: center;
    z-index: 1;
}
div.tooltip.hotBarTooltip{
    bottom: 10dvw;
}
.equipmentItem {
    border: 1px solid white;
    flex: 0 1 auto;
    height: 2.7dvw;
    width: 2.7dvw;
    margin: 4px;
}
.equipmentItem.mainHand {
    margin-left: 0px;
}
.equipmentItem.offHand {
    margin-right: 0px;
}
.inventoryItem {
    margin: 2px;
}
.equipmentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.equipDisplay {
    padding: 10px;
    display: flex;
}
/* .equipLeft,
.equipRight {
    margin: 10px;
} */
.equipCenter {
    flex: auto;
}
.weaponsDisplay {
    /* Need to fix this, need mainHand and offHand to line up with bottom armors consistently as the screen changes */
    margin-top: 1.45dvh;
    display: flex;
    justify-content: space-between;
}
.statsDisplay {
    display: flex;
    justify-content: space-around;
    font-size: .8dvw;
}
.mainMenu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}
.mainMenuLogo {
    height: 500px;
    margin-top: -100px;
}
.mainMenuButton {
    font-size: 30px;
    border: 2px solid rgb(116, 36, 36);
    padding: 10px 40px;
    margin: 10px;
    width: 275px;
    text-align: center;
}

.charCreationContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}
.charCreation {
    color: white;
    font-size: xx-large;
}

.intro {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}
.introText {
    color: white;
    font-size: xx-large;
}
